<footer class="bg-white">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="../../../assets/images/Logomed.png" alt="" width="180" class="mb-3">
          <p class="font-italic text-muted">Bienvenido a MED & CHAT, nuestro principal anhelo es que nuestros doctores y pacientes, tengan un lugar cómodo donde comunicarse y poder ver sus recordatorios.</p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="bi bi-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="bi bi-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="bi bi-twitter"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">MED CHAT</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a class="nav-link" routerLink="pharmacy" routerLinkActive="active">Farmacia</a></li>
            <li class="mb-2"><a class="nav-link" routerLink="recordatorios" routerLinkActive="active">Recordatorios</a></li>
            <li class="mb-2"><a class="nav-link" routerLink="profile" routerLinkActive="active">Perfil</a></li>
            <li class="mb-2"><a class="nav-link" routerLink="chat" routerLinkActive="active">CHAT</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Mas</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a class="nav-link" routerLink="login" routerLinkActive="active">Login</a></li>
            <li class="mb-2"><a class="nav-link" routerLink="registro" routerLinkActive="active">Register</a></li>
            <li class="mb-2"><a class="nav-link" routerLink="about" routerLinkActive="active">About</a></li>
            <li class="mb-2"><a class="nav-link" routerLink="**" routerLinkActive="active">404</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Contactenos!</h6>
          <p class="text-muted mb-4">Escriba y envie su correo y nos pondremos en contacto. 🙂</p>
          <div class="p-1 rounded border">
            <div class="input-group">
              <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link"><i class="bi bi-send"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2022 MED CHAT All rights reserved.</p>
      </div>
    </div>
  </footer>
