<body>
  <section>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="https://www.hospitallashigueras.cl/assets/img/noticias/not_050720222129510994334001657052991.JPG" class="d-block w-100"
            alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>MED & CHAT</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://cdn.cnn.com/cnnnext/dam/assets/200326133222-quito-coronavirus-hospitales-preparados-emergencia-pandemia-medicos-ana-maria-canizares-pkg-00002414.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>MED & CHAT</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Hospital_Nacional_de_Ciudad_Villa_Nueva%2C_Guatemala.png/1200px-Hospital_Nacional_de_Ciudad_Villa_Nueva%2C_Guatemala.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>MED & CHAT</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="testimonials" >
      <h1>Testimonios de Nuestros Pacientes</h1>
      <div class="test-body">
        <div class="item">
          <img
            src="https://imgix.bustle.com/uploads/image/2022/4/27/2da09da7-87a4-4165-aada-990586ea7c0c-screen-shot-2022-04-27-at-85204-am.png?w=350&h=298&fit=crop&crop=faces&auto=format%2Ccompress&blend=000000&blendAlpha=45&blendMode=normal">
          <div class="name">Marck Spector</div>
          <small class="desig">Paciente</small>
          <div class="share"><i class="bi bi-facebook"></i><i class="bi bi-twitter"></i><i class="bi bi-instagram"></i>
          </div>
          <p>Me ayudo mucho, para la comunicación, con mi doctor encargado, a la hora de comunicarme.</p>
        </div>
        <div class="item">
          <img src="https://cdns-images.dzcdn.net/images/artist/a7fcba9c1749bee6ca469cb9b6411aa5/500x500.jpg">
          <div class="name">Hailee Steinfeld</div>
          <small class="desig">Paciente</small>
          <div class="share"><i class="bi bi-facebook"></i><i class="bi bi-twitter"></i><i class="bi bi-instagram"></i>
          </div>
          <p>Me gusto demasiado la atención, y recordatorios a la hora de tomar mi medicina.</p>
        </div>
        <div class="item">
          <img
            src="https://img.olympicchannel.com/images/image/private/t_1-1_600/f_auto/v1538355600/primary/wfrhxc0kh2vvq77sonki">
          <div class="name">Leonel Messi</div>
          <small class="desig">Paciente</small>
          <div class="share"><i class="bi bi-facebook"></i><i class="bi bi-twitter"></i><i class="bi bi-instagram"></i>
          </div>
          <p>Excelente servicio me ayudo mucho en mi crecimeinto y en las consultas con mi doctor.</p>
        </div>
      </div>
      <button>Ver mas...</button>
    </div>
  </section>
</body>
