<body>
  <div class="container-fluid name-room">
    <div class="row">
    <div class="col-sm-5">
        <div class="form-group">
            <label for="username">Name</label>
            <input type="text"  class="form-control" id="username" placeholder="Enter username" disabled>
         </div>
    </div>
    <div class="col-sm-5">
        <label for="roomInput">Choose room</label>
        <select name="roomInput"  id="roomInput" class="form-control" >
            <option value="Email Marketing">Email Marketing</option>
            <option value="Dsv & Preview">Dsv & Preview</option>
            <option value="Creative">Creative</option>
        </select>
    </div>
    <div class="col-sm-2">
        <div style="margin-top:19px;" class="pull-right">

            <button  type="button" class="btn btn-success">Join Room</button>

            <button  type="button" class="btn btn-danger" >Leave Room</button>
        </div>
    </div>
</div>
</div>


<div class="container-fluid name-room">
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <div class="col-inside-lg decor-default chat" style="overflow: hidden; outline: none;" tabindex="5000">
          <div class="chat-users">
            <h6>Online</h6>


              <div class="user">
                  <div class="avatar">
                  <div class="status online"></div>
                  </div>
                  <div class="name" ></div>
                  <!--<div class="mood">User mood</div>-->
            </div>


          </div>
        </div>
      </div>
      <div class="col-sm-9 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001">
        <div class="col-inside-lg decor-default">
          <div class="chat-body">
            <h6>Mini Chat</h6>
          <div #list class="list" [scrollTop]="list.scrollHeight">
            <div >
              <div class="avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                <div class="status offline"></div>
              </div>
              <div class="name"></div>
              <div class="text">

              </div>
              <div class="time"></div>
            </div>
            <div >
                    <div class="avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                      <div class="status offline"></div>
                    </div>
                    <div class="name"></div>
                    <div class="text">

                    </div>
                    <div ></div>
            </div>
            </div>
            <p></p>
            <div class="answer-add">
            <input type="text" class="form-control" placeholder="Write a message">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
