<div class="wrapper">
  <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex flex-column">
          <div class="h3">Mis Recordatorios</div>
      </div>
      <div class="btn" id="sub" data-bs-toggle="modal"
      data-bs-target="#recordatorio"><i class="bi bi-plus-circle-dotted"></i> Agregar</div>
    </div>
<!--
  MODAL
-->
<div class="modal" tabindex="-1" id="recordatorio">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">+ Agregar Recordatorio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--
  RECORDATORIOS
-->
<div id="table" class="bg-white rounded">
      <div class="d-md-flex align-items-md-center px-3 pt-3">
          <div class="d-flex flex-column">
              <div class="h4 font-weight-bold">Nombre de la Persona</div>
          </div>
      </div>
      <hr>
      <div class="table-responsive">
          <table class="table activitites">
              <thead>
                  <tr>
                      <th scope="col" class="text-uppercase header">Medicina</th>
                      <th scope="col" class="text-uppercase">Cantidad</th>
                      <th scope="col" class="text-uppercase">Descripción</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="item">
                          <div class="d-flex">
                              <div class="pl-2">
                                  Tapcin Extra Fuerte
                              </div>
                          </div>
                      </td>
                      <td>2</td>
                      <td class="d-flex flex-column">Cada 8 horas 2 pastillas.</td>
                      <td>
                        <div class="form-check">
                        <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                        </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="item">
                          <div class="d-flex align-items-start">
                              <div>ALKA-SELTZER EXTREME BOOST</div>
                          </div>
                      </td>
                      <td>3</td>
                      <td class="d-flex flex-column">1 cada vez que sienta dolor y con un vaso de agua pura</td>
                      <td>
                        <div class="form-check">
                        <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                        </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="item">
                          <div class="d-flex align-items-start">
                              <div>
                                  Acetaminofen
                              </div>
                          </div>
                      </td>
                      <td>8</td>
                      <td class="d-flex flex-column">2 cada 4 horas</td>
                      <td>
                        <div class="form-check">
                        <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                        </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
