<section>
  <div class="container-fluid">
    <div class="px-lg-5">

      <!-- For demo purpose -->
      <div class="row py-5">
        <div class="col-lg-12 mx-auto">
          <div class="text-white text-center p-5 shadow-sm rounded banner">
            <h1 class="display-4">Farmacia Hospital XD</h1>
          </div>
        </div>
      </div>
      <!-- End -->

      <div class="row">
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="https://www.ortoweb.com/22573-large_default/panthera-u3-silla-de-ruedas-activa-de-chasis-rigido.jpg" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5 class="text-wrap">Silla de Ruedas</h5>
              <p class="small text-muted mb-0">SILLA DE RUEDAS NEGRA 101C RENTA MEDICA - UNIDAD</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="bi bi-currency-dollar"></i><span class="font-weight-bold">  1250.00</span></p>
                <span class="badge text-bg-primary">Renta</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="http://cdn.shopify.com/s/files/1/2559/6596/products/3751026_83de42b6-d86c-463b-b225-d7be4412f7e0.jpg?v=1653913616" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5>Muletas</h5>
              <p class="small text-muted mb-0">MULETA TAMAÑO L RENTA MEDICA - UNIDAD</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="bi bi-currency-dollar"></i><span class="font-weight-bold"> 220.00</span></p>
                <span class="badge text-bg-primary">Renta</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="https://d1cft8rz0k7w99.cloudfront.net/n/4/1/a/1/41a1c51a3c810c23cc9a7e3e24f6444b57a3187c_Nutritional_420762_01.jpg" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5>Pediasure</h5>
              <p class="small text-muted mb-0">PEDIASURE COMPLETE FRESA 900 GRS - UNIDAD</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="bi bi-currency-dollar"></i><span class="font-weight-bold">  150.00</span></p>
                <span class="badge text-bg-danger">Oferta</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="https://cdn11.bigcommerce.com/s-1ckji0j190/images/stencil/608x608/products/319/963/VITAL_FUERTE_LIQUIKSHOT_X_10_GUATEMALA_CAJA-min__24498.1591887412.jpg?c=1" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5>Vital Fuerte Bebible</h5>
              <p class="small text-muted mb-0">VITAL FUERTE * 10 AMPOLLAS BEBIBLES - CAJA</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="bi bi-currency-dollar"></i><span class="font-weight-bold">  60.00</span></p>
                <span class="badge text-bg-danger">Oferta</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Second File -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="https://cruzverde.com.gt/pedidos/wp-content/uploads/sites/2/2021/03/P029760.jpg" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5>Ensure Advance</h5>
              <p class="small text-muted mb-0">ENSURE ADVANCE FRESA 850 G - UNIDAD</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="bi bi-currency-dollar"></i><span class="font-weight-bold">  350.00</span></p>
                <span class="badge text-bg-danger">Oferta</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="https://www.farmaciasannicolas.com/Multimedia/GetProductImage?productId=21e6a0de-2f37-44b3-b42f-0b2b2ddccb77&multimediaId=f9c06929-9e7a-4ec0-aa55-c5a5ca597a26&imageSize=Medium" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5>Pañales para Adultos</h5>
              <p class="small text-muted mb-0">PLENITUD PROTECT G/XG - 16 PAÑALES</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="bi bi-currency-dollar"></i><span class="font-weight-bold">  122.50</span></p>
                <span class="badge text-bg-success">Nuevo</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="https://coopidrogas.vtexassets.com/arquivos/ids/492363-800-800?v=637854494902470000&width=800&height=800&aspect=true" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5>Pañales para Niños</h5>
              <p class="small text-muted mb-0">HUGGIES ACTIVE SEC M - 11 PAÑALES</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="bi bi-currency-dollar"></i><span class="font-weight-bold">  50.00</span></p>
                <span class="badge text-bg-success">Nuevo</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="https://copservir.vtexassets.com/arquivos/ids/712248-800-auto?v=637770957696370000&width=800&height=auto&aspect=true" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5>Suero Pedialyte</h5>
              <p class="small text-muted mb-0">PEDIALYTE 60 500 ML - UNIDAD</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="bi bi-currency-dollar"></i><span class="font-weight-bold">  22.50</span></p>
                <span class="badge text-bg-warning">Mas Vendido</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Tree File -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="https://www.dosfarma.com/135753-large_default/listerine-dientes-y-encias-menta-500-ml.jpg" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5>Listerine</h5>
              <p class="small text-muted mb-0">LISTERINE ANTICARIES DIENTES Y ENCIAS 500 ML - UNIDAD</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="bi bi-currency-dollar"></i><span class="font-weight-bold">  62.50</span></p>
                <span class="badge text-bg-warning">Mas Vendido</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="https://d1cft8rz0k7w99.cloudfront.net/n/3/e/5/0/3e50b139461792f58ec302ae70a82285ca18224a_LotionsCreams_422373_03.jpg" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5>Ungünto parar Bebes</h5>
              <p class="small text-muted mb-0">UNGÜENTO DESITIN TIPO CREMA 57 G - UNIDAD</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="bi bi-currency-dollar"></i><span class="font-weight-bold">  50.00</span></p>
                <span class="badge text-bg-warning">Mas Vendido</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="https://precioschidosgt.com/wp-content/uploads/2020/09/Crema_Corporal_Lubriderm_Proteccion_Solar_400ml-500x500.jpg" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5>Protector Solar</h5>
              <p class="small text-muted mb-0">PROTECTOR SOLAR LUBRIDEM UV FPS 85 X 250 ML - UNIDAD</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="bi bi-currency-dollar"></i><span class="font-weight-bold">  150.00</span></p>
                <span class="badge text-bg-warning">Mas Vendido</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="https://www.durex.com.co/static/d02d84748227f6b726ba56a124c14d7b/ee604/3132607_climax-mutuo_front.png" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5>Preservativos para Hombre</h5>
              <p class="small text-muted mb-0">DUREX CLIMAX MUTUO X 3 CONDONES - UNIDAD</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="bi bi-currency-dollar"></i><span class="font-weight-bold">  35.00</span></p>
                <span class="badge text-bg-warning">Mas Vendido</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
      </div>
      <div class="py-5 text-right"><a href="#" class="btn btn-dark px-5 py-3 text-uppercase">Ver mas...</a></div>
    </div>
  </div>
</section>

