<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-row">
      <!-- Icons -->
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" routerLink="inicio" routerLinkActive="active">
          <i class="bi bi-house"></i> Inicio
        </a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" routerLink="recordatorios" routerLinkActive="active"   *ngIf="_usuarioService.getIdentidad()">
          <i class="bi bi-person-lines-fill"></i> Recordatorios
        </a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" routerLink="pharmacy" routerLinkActive="active">
          <i class="bi bi-shop-window"></i> Farmacia
        </a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" routerLink="chat" routerLinkActive="active"*ngIf="_usuarioService.getIdentidad()">
          <i class="bi bi-chat"  ></i> Chat
        </a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" routerLink="profile" routerLinkActive="active"  *ngIf="_usuarioService.getIdentidad()">
          <i class="bi bi-person-circle"></i> Perfil
        </a>
      </li>
    </ul>
  </div>
  <div class="d-flex align-items-center">
      <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"class="btn btn-outline-info me-3">
        Login
      </a>
      <a class="nav-link" [routerLink]="['/registro']" routerLinkActive="active" class="btn btn-outline-dark me-3">
        SignUp
      </a>
  </div>
</nav>

